name: generic-go-versionbuild

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      artifact:
        required: true
        type: string
      artifactVersion:
        required: true
        type: string
      sha:
        required: false
        type: string
        default: ${{ github.sha }}
        
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - '1.22'
          - '1.23'
          - '1.24'
          - '1.25'
    defaults:
      run:
        working-directory: ./${{ inputs.service }}
         
    steps:
      - name: checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.sha }}

      - name: setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: test
        run: make test

      - name: build
        run: make build VERSION="${{ inputs.artifactVersion }}" GO_VERSION="-${{ matrix.go-version }}"

      - name: upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact }}-${{ matrix.go-version }}
          path: ${{ inputs.service}}/bin/${{ inputs.artifact }}*
          retention-days: 5
