---
name: "tagged-release"

on:
  push:
    tags:
      - "v*"

jobs:
  extract-version:
    runs-on: ubuntu-latest
    outputs:
      clean_version: ${{ steps.strip.outputs.version }}
    steps:
      - name: strip leading "v" from tag
        id: strip
        run: echo "version=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

  prepare-release:
    needs: extract-version
    runs-on: ubuntu-latest

    steps:
      - name: checkout sources
        uses: actions/checkout@v4

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

  docker-build:
    needs: prepare-release
    uses: ./.github/workflows/ssh-key-signer-server-docker.yml
    with:
      sha: ${{ github.sha }}
    secrets: inherit

  go-build:
    needs: [extract-version, prepare-release]
    uses: ./.github/workflows/go-build.yml
    with:
      service: go-ssh-keysign
      artifactVersion: ${{ needs.extract-version.outputs.clean_version }}
      sha: ${{ github.sha }}

  create-release:
    needs: [docker-build, go-build]
    runs-on: ubuntu-latest

    steps:
      - name: create release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./dist
          pattern: ssh-keysign*

      - name: move downloaded artifacts up
        run: |
          mkdir -p flat-dist
          find dist/ -type f -exec mv {} flat-dist/ \;

      - name: upload artifacts to Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./flat-dist/*
